<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>后台管理面板</title>
  <!-- 告诉浏览器该页面是自适应布局 -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
   {include file="index/top" /}
</head>
<body class="hold-transition skin-blue sidebar-mini">	
<div class="wrapper">
    <div class="content-wrapper" style="margin-left: 0 !important;">
        <!--页眉-->
        <section class="content-header">
          <h1>
            <!--首页-->
            <small><i class="fa fa-dashboard"></i> 控制面板</small>
          </h1>
          <ol class="breadcrumb">
            <!--<li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>-->
            <li class="active">控制面板</li>
          </ol>
        </section>
        <!--内容开始-->
        <section class="content content_main">
        	<!---->
            <div class="row">
            	<div class="col-sm-8 col-xs-12">
                	<!--快捷方式-->
                    <div class="col-sm-12 col-xs-12 padding_0">
                        <div class="box box-default">
                            <div class="box-header with-border">
                              <i class="fa fa-gift"></i>
                              <h3 class="box-title">快捷方式</h3>
                              <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                </button>
                              </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">  
                              <a class="btn btn-app" href="{:url('system/system')}"><i class="fa fa-cogs"></i>系统设置</a><a class="btn btn-app" href="{:url('category/index')}"><i class="fa fa-th"></i>栏目管理</a><a class="btn btn-app" href="{:url('ad/index')}"><i class="fa fa-photo"></i>Banner管理</a><a class="btn btn-app" href="{:url('auth/adminlist')}"><i class="fa fa-database"></i>管理员列表</a><a class="btn btn-app" href="{:url('link/index')}"><i class="fa fa-link"></i>友情链接</a><a class="btn btn-app" href="{:url('debris/index')}"><i class="fa fa-puzzle-piece"></i>碎片管理</a><a class="btn btn-app" href="{:url('module/index')}"><i class="fa fa-th-list"></i>模型管理</a><a class="btn btn-app" href="{:url('template/index')}"><i class="fa fa-code"></i>模板管理</a>
                            </div>
                            <!-- /.box-body -->
                          </div>
                      </div>

                      <!--系统信息开始-->
                      <div class="col-sm-12 col-xs-12 padding_0">
                      	<div class="box box-default">
                            <div class="box-header with-border">
                              <i class="fa fa-gear"></i>
                              <h3 class="box-title">系统信息</h3>
                              <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                </button>
                              </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">  
                             <table class="table table-striped">
                                <tr><td>网站域名</td><td>{$config.url}</td></tr>
                                <tr><td>网站目录</td><td>{$config.document_root}</td></tr>
                                <tr><td>服务器操作系统</td><td>{$config.server_os}</td></tr>
                                <tr><td>服务器端口</td><td>{$config.server_port}</td></tr>
                                <tr><td>服务器IP</td><td>{$config.server_ip}</td></tr>
                                <tr><td>WEB运行环境</td><td>{$config.server_soft}</td></tr>
                                <tr><td>MySQL数据库版本</td><td>{$config.mysql_version}</td></tr>
                                <tr><td>运行PHP版本</td><td>{$config.php_version}</td></tr>
                                <tr><td>最大上传限制</td><td>{$config.max_upload_size}</td></tr>
							</table>
                            </div>
                            <!-- /.box-body -->
                          </div>
                      </div>
                      <!--系统信息结束-->
                </div>
                <div class="col-sm-4 col-xs-12">
                	<!--版本信息-->
                    <div class="box box-default">
                        <div class="box-header with-border">
                          <i class="fa fa-tag"></i>
                          <h3 class="box-title">版本信息</h3>
                          <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                          </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tr>
                                  <td>基于框架</td>
                                  <td>ThinkPHP {$Think.version} + AdminLTE 2.X </td>
                                </tr>
                            </table>
                        </div>
                        <!-- /.box-body -->
                      </div>
                </div>
            </div>
            <!----> 
        </section>
        <!-- right col -->
      </div>
      <!-- /.row (main row) -->

    </section>
        <!--内容结束-->
    </div>
</div>
{include file="index/bottom" /} 
</body>
</html>    